@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext');

* {
    scroll-behavior: smooth;
}

:root {
    --main-bg-color: #E0E0E0;
    --main-light-color: #F2F2F2;
    --main-white-color: #FAFAFA;
    --main-dark-color: #333333;
    --main-d-grey-color: #4F4F4F;
    --main-m-grey-color: #828282;
    --main-l-grey-color: #BDBDBD;

    --main-border-radius-d: 10px;

    --main-color-1: #EAEFF8;
    --main-color-2: #BBBBCD;
    --main-color-3: #0B0D30;
    --main-color-4: #142FBC;
    --main-color-5: #EAEFF8;
    --main-color-6: #BD6E7E;
    --main-color-7: #4F5EA4;

    --main-transition-durirtion: .25s;

    --toolBar-width: 300px;
}

body {
    font-family: 'Roboto', sans-serif !important;
    color: var(--main-dark-color);
    /*font-family: "Poppins", "Roboto", "Noto", sans-serif;*/
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */
}

input:focus {
    background-color: var(--main-white-color);
    border-color: #142FBC !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(79, 94, 164, 0.4) !important;
}

button:focus {
    background-color: var(--main-white-color);
    border-color: #142FBC !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(79, 94, 164, 0.4) !important;
}