.toolBar-settings-item {
    position: fixed;
    bottom: 0;
    color: var(--main-dark-color);
    font-weight: bold;
    display: block;
    padding: 1rem;
    margin: 1.5rem 2rem;
    border-radius: var(--main-border-radius-d);
    transition-duration: var(--main-transition-durirtion);
}

.toolBar-settings-item:hover {
    text-decoration: none;
    color: var(--main-color-7);
}