.go-back-button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.4rem;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    border: none;
    border-radius: 50%;
    background: var(--main-color-5);
    opacity: 0.5;
    color: var(--main-color-7) !important;
    cursor: pointer;
    transition-duration: var(--main-transition-durirtion);
}

.go-back-button:hover {
    opacity: 1;
}

.go-back-button:focus {
    opacity: 1;
    outline: none;
}