.panel {
    color: var(--main-dark-color);
    padding: 1px 1px 1px var(--toolBar-width);
}

.panel .panel-title {
    padding: 1.5rem 5rem;
    font-weight: 500;
    font-size: 3rem;
}

.panel .panel-content {
    padding: 0 2rem;
}