button.button {
    border: none;
    font-weight: bold;
    padding: .755rem 1rem;
    border-radius: var(--main-border-radius-d);
    transition-duration: var(--main-transition-durirtion);
    min-width: 200px;
    outline: none !important;
}

button.button:hover {
    background-color: var(--main-white-color);
    border-color: #142FBC !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(79, 94, 164, 0.4) !important;
}

button.button.default {
    color: var(--main-color-7);
    background-color: var(--main-color-1);
}