.tool-bar-item.brand {
    font-weight: normal;
    font-size: 1.2rem;
    border-radius: 0;
    margin: 0;
    background-color: var(--main-color-7);
    color: white;
}

.tool-bar-item.brand img {
    width: 2rem;
}