.tool-bar-item {
    color: var(--main-dark-color);
    font-weight: bold;
    display: block;
    padding: 1rem;
    margin: 1.5rem 2rem;
    border-radius: var(--main-border-radius-d);
    transition-duration: var(--main-transition-durirtion);
}

.tool-bar-item:hover {
    color: var(--main-color-7);
    background-color: var(--main-color-1);
    text-decoration: none;
    font-size: 1.1rem;
}

.tool-bar-item svg {
    margin-right: .5rem;
}

.tool-bar-item.active {
    color: var(--main-color-7);
    background-color: var(--main-color-1);
}