.vertical-menu {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    width: var(--toolBar-width);
    height: 100vh;
    background-color: var(--main-white-color);
}

.vertical-menu .bottom-container {
    position: fixed;
    bottom: 0;
    width: var(--toolBar-width);
}

.vertical-menu .bottom-container .app-info {
    background: var(--main-color-6);
    color: var(--main-white-color);
    font-size: .9rem;
    padding-left: 1rem;
    width: 100%;
}